<% // This view will use the layout.ejs implicitly by Express conventions %>
<% // The 'title' variable is passed from the route in app.js %>
<% // The 'body' variable in layout.ejs will render the content below %>

<% if (typeof defaultContentHtml !== 'undefined' && defaultContentHtml) { %>
    <%- defaultContentHtml %>
<% } else { %>
    <h1>Welcome to Your Markdown Wiki</h1>
    <p>Use the navigation panel on the left to browse through your documents, or create a <code>GettingStarted.md</code>, <code>index.md</code>, or <code>README.md</code> in your content directory to see it here.</p>
    <p>The search functionality will be enabled soon!</p>
<% } %>
